:root {
  --nunito: "Nunito", sans-serif;
  --light-black: #121212;
  --lighter-black: #494949;
  --almost-white: #dbdbdb;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--light-black);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 150px;
  border-bottom: 1px solid var(--almost-white);
}
.navbar a {
  text-decoration: none;
  margin: 10px;
  color: var(--lighter-black);
}
.navbar .logo h1 {
  padding: 0;
  margin: 0;
}
.navbar .logo {
  margin-right: auto;
}
.navbar-signup {
  border: solid 1px currentColor;
  padding: 2px;
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  .navbar a {
    margin: 5px;
  }
}

/* ----signup page--- */
.signup {
  width: 40%;
  margin: auto;
}
.control-key {
  background-color: var(--lighter-black);
  color: white;
  padding: 2px;
  border-radius: 5px;
}
.signup input,
.signup select,
.signup button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .signup {
    width: 90%;
    margin: auto;
  }
}
.login {
  width: 40%;
  margin: auto;
}
.login input,
.login select,
.login button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .navbar {
    padding: 10px 10px;
  }
  .login {
    width: 90%;
    margin: auto;
  }
}

.add-blog {
  width: 40%;
  margin: auto;
}
.add-blog input,
.add-blog textarea,
.add-blog select {
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .add-blog {
    width: 80%;
  }
}

.footer {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #000;
  margin-top: 100px;
}
.footer-more {
  display: none;
  justify-content: center;
  align-items: center;
}

/* ---home-blogs-- */
.home-blogs {
  width: 60%;
  margin: auto;
}
.home-blogs .blog {
  border: solid 1px;
  margin: 10px 5px;
  padding: 10px;
}
.home-blogs .blog-title {
  font-size: 28px;
  font-weight: 500;
}
.home-blogs .blog small {
  font-family: var(--nunito);
  margin-right: 10px;
}
.blog-category {
  font-family: var(--nunito);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  background-color: var(--lighter-black);
  color: white;
  padding: 1px 3px;
  border-radius: 5px;
}
.blog-date {
  font-size: 12px;
}
.continue-reading {
  margin-left: 20px;
  color: var(--light-black);
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.blog-views {
  font-size: 12px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .home-blogs {
    width: 100%;
    margin: auto;
  }
}
