:root {
  --nunito: "Nunito", sans-serif;
  --light-black: #121212;
  --lighter-black: #494949;
  --almost-white: #dbdbdb;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--light-black);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 150px;
  border-bottom: 1px solid var(--almost-white);
}
.navbar a {
  text-decoration: none;
  margin: 10px;
  color: var(--lighter-black);
}
.navbar .logo h1 {
  padding: 0;
  margin: 0;
}
.navbar .logo {
  margin-right: auto;
}
.navbar-signup {
  border: solid 1px currentColor;
  padding: 2px;
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  .navbar a {
    margin: 5px;
  }
}

/* ----signup page--- */
.signup {
  width: 40%;
  margin: auto;
}
.control-key {
  background-color: var(--lighter-black);
  color: white;
  padding: 2px;
  border-radius: 5px;
}
.signup input,
.signup select,
.signup button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .signup {
    width: 90%;
    margin: auto;
  }
}
.login {
  width: 40%;
  margin: auto;
  margin-bottom: 400px;
}
.login input,
.login select,
.login button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .navbar {
    padding: 10px 10px;
  }
  .login {
    width: 90%;
    margin: auto;
    margin-bottom: 230px;
  }
}

.add-blog {
  width: 40%;
  margin: auto;
  margin-bottom: 200px;
}
.add-blog input,
.add-blog textarea,
.add-blog select {
  width: 100%;
  padding: 10px;
  margin: auto;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .add-blog {
    width: 80%;
  }
}

.footer {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--lighter-black);
  margin-top: 100px;
}
.see-more {
  cursor: pointer;
}
.footer-more {
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.close-account {
  text-decoration: none;
  display: block;
}

/* ---home-blogs-- */
.home {
  min-height: calc(100vh - 200px);
}
.no-blogs {
  color: var(--light-black);
}
.home-blogs {
  width: 60%;
  margin: auto;
}
.home-blogs .blog {
  border: solid 1px var(--almost-white);
  border-radius: 5px;
  margin: 10px 5px;
  padding: 10px;
}
.home-blogs .blog-title {
  font-size: 28px;
  font-weight: 500;
}
.home-blogs-para {
  font-family: var(--nunito);
  font-size: 15px;
  font-weight: 600;
}
.home-blogs .blog small {
  font-family: var(--nunito);
  margin-right: 10px;
}

.blog-category {
  font-family: var(--nunito);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  background-color: var(--lighter-black);
  color: white;
  padding: 1px 3px;
  border-radius: 5px;
}
.blog-date {
  font-size: 12px;
}
.continue-reading {
  margin-left: 20px;
  color: var(--light-black);
  text-decoration: none;
  border-bottom: 1px solid #000;
}
.blog-views {
  font-size: 12px;
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  .home-blogs {
    width: 100%;
    margin: auto;
  }
}
.start-reset {
  margin-bottom: calc(100vh - 250px);
}
.reset-password {
  margin-bottom: calc(100vh - 280px);
}
.reset-password input {
  margin-bottom: 10px;
  display: block;
}

.blog-details-page {
  /* width: 100%; */
  margin: auto;
  padding: 20px;
}
.blog-details {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 400px;
  flex-wrap: wrap;
}
.blog {
  flex: 0 0 60%;
  border: solid 1px var(--almost-white);
  border-radius: 5px;
  padding: 5px;
}
.blog-details-author {
  flex: 0 0 15%;
  border: solid 1px var(--almost-white);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
}
.blog-details-author-head {
  color: var(--light-black);
  font-size: 24px;
  margin: 20px;
  font-weight: 500;
}
.blog-details-author-links {
  display: flex;
  justify-content: center;
}
.blog-details-author-links a {
  margin: 10px;
  color: var(--lighter-black);
  text-decoration: none;
  cursor: pointer;
}
.blog-head {
  border: solid 1px var(--almost-white);
  border-radius: 5px;
  padding: 10px;
}
.blog-head h1 {
  font-family: var(--nunito);
  font-weight: 600;
  font-size: 34px;
  margin: 0;
}
.blog small {
  font-family: var(--nunito);
  font-weight: 200;
  font-size: 12px;
  margin: 5px;
}
.blog-details .blog p {
  font-family: var(--nunito);
  font-weight: 500;
  font-size: 18px;
  margin: 20px 5px;
}
.blog-comments {
  width: 60%;
  margin: auto;
}
.add-comment textarea,
.add-comment input {
  display: block;
  margin-bottom: 10px;
}
.add-comment textarea {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .blog-details-page {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  .blog {
    flex: 0 0 100%;
  }
  .blog-details-author {
    flex: 0 0 100%;
  }
  .add-comment textarea {
    width: 100%;
  }
  .blog-comments {
    width: 100%;
  }
}
.comment {
  border: solid 1px var(--almost-white);
  margin-bottom: 10px;
  padding: 5px;
}
.comment small {
  font-size: 13px;
  background-color: var(--lighter-black);
  color: var(--almost-white);
  padding: 1px;
  box-sizing: border-box;
  border-radius: 3px;
}
.loader {
  border: 3px solid var(--almost-white); /* Light grey */
  border-top: 3px solid var(--light-black); /* Blue */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
